:root {
  --font-en: var(--font-en);
  --font-ja: var(--font-ja);
  --font-mincho: var(--font-mincho);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @media (max-width: 700px) {
    overflow-x: visible;
  }
}

body {
  font-family: var(--font-en), var(--font-ja), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0c5c2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@page {
  size: B5;
}
