.main {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .image {
    width: 10mm;
    height: 10mm;
    object-fit: cover;
    margin-right: 0.4rem;
    filter: grayscale(100%);
  }
  .authorName {
    margin: 0;
  }
  .message {
    margin: 0;
  }
}
