.page {
  position: relative;
  margin: 0 auto 1rem;
  background-color: #fff;
  width: 176mm;
  height: 250mm;
  padding: 6mm 0 10mm;

  &.even {
    padding-left: 4mm;
    padding-right: 16mm;
  }

  &.odd {
    padding-left: 16mm;
    padding-right: 4mm;
  }
}

.container {
  width: calc(176mm - 20mm);
  height: calc(250mm - 16mm);
  border: 1px dashed #ccddee; /* preview */
  @media print {
    border: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageNumber {
  position: absolute;
  top: 240mm;
  left: 50%;
  right: 50%;
  font-size: 0.7rem;
  color: #555;

  &.even {
    left: calc(50% - 4mm);
    right: calc(50% + 4mm);
  }

  &.odd {
    left: calc(50% + 4mm);
    right: calc(50% - 4mm);
  }
}
