.main {
  margin: 1rem auto;
}
.image {
  display: block;
  object-fit: contain;
  max-height: 60mm;
  margin: 0 auto;
  filter: grayscale(100%);
}
.main:first-child {
  margin-top: 0;
}
.caption {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 0.3rem;
}
