.main {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    p {
      margin: 0;
      line-height: 1.4;
    }
    .pageNumber {
      margin-right: 0.8rem;
    }
    .title {
      font-weight: bold;
      font-size: 1.1rem;
    }
    .description {
      color: #333333;
    }
    .authorName {
      font-weight: normal;
      font-size: 0.9rem;
      margin-left: 0.2rem;
    }
  }
}
