.main {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  line-height: 1.5;
  @media print {
    display: none;
  }
  @media (max-width: 768px) {
    display: none;
  }
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}

.heading {
  font-weight: bold;
  margin: 1rem auto 0;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
}

.print {
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}
