.page {
  position: relative;
  margin: 0 auto 1rem;
  background-color: #fff;
  width: 176mm;
  height: 250mm;
  padding: 16mm;

  &.even {
    padding-left: 16mm;
    padding-right: 24mm;
  }

  &.odd {
    padding-left: 24mm;
    padding-right: 16mm;
  }
}

.pageNumber {
  position: absolute;
  top: 240mm;
  left: 50%;
  right: 50%;
  font-size: 0.7rem;
  color: #555;

  &.even {
    left: calc(50% - 4mm);
    right: calc(50% + 4mm);
  }

  &.odd {
    left: calc(50% + 4mm);
    right: calc(50% - 4mm);
  }
}

.container {
  width: calc(176mm - 40mm);
  height: calc(250mm - 32mm);
  border: 1px dashed #ccddee; /* preview */
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
  text-align: justify;
  @media print {
    border: none;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.45;
    margin-bottom: 0.75rem;
  }

  b {
    font-weight: bold;
    font-size: 0.83rem;
  }

  h2 {
    font-size: 1.25rem;
    margin: 2rem 0 0.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 1rem;
    margin: 1.3rem 0 0.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  blockquote {
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.8rem 0;
    color: #333;
    border-left: 0.5mm solid #999;
    padding: 0 0.8rem;
    text-align: initial;
  }

  hr {
    border: 0;
    border-bottom: 2px solid #ddd;
    margin: 1.5rem 0;
  }

  section {
    margin-bottom: 2rem;
  }

  ul {
    list-style-position: inside;
    font-size: 0.8rem;
    line-height: 1.45;
    margin-bottom: 0.7rem;

    li ul {
      list-style-type: circle;
      margin-left: 1.5rem;
      margin-bottom: 0;
      font-size: 0.75rem;
    }
  }

  dl {
    dt {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0.1rem;
    }

    dd {
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
    }
  }
}
