.main {
  border-bottom: 1mm solid #333;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

h1.title {
  font-size: 1.7rem;
  margin-bottom: 0.25rem;
}

p.description {
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
  color: #333333;
}

.info {
  display: flex;
  align-items: center;

  p:not(:last-child)::after {
    padding: 0 3mm;
    content: "/";
    font-weight: normal;
  }
}

.image {
  width: 10mm;
  height: 10mm;
  object-fit: cover;
  margin-right: 0.4rem;
  filter: grayscale(100%);
}

p.name {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
}

p.linkX {
  margin: 0;
  font-size: 0.85rem;
}

p.linkWeb {
  margin: 0;
  font-size: 0.85rem;
}
